<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../includes/title.ejs') %>
		<link rel="stylesheet" href="/css/product.css" />
	</head>

	<body>
		<%- include('../includes/navigation.ejs') %>

		<main></main>
	</body>
</html>
